<img align="center" src="https://raw.githubusercontent.com/FUlyankin/Parsers/master/images%20/cats.jpg" height="1200" width="1200"> 

# Семинар 2:  продолжаем врываться в python

Продолжаем аккуратно врываться в python и решать на нём различные задачки. __Наша цель на сегодня:__ 

* Повторить подвиг с запуском анакоды быстрее, чем за 20 минут...
* Немного вспомнить что мы делали в прошлый раз, а ещё в домашке
* Поработать с таблицами в pandas и поискать ответы на разные глупые вопросы

В качестве датасета мы будем использовать датасет по ... вашим страницам вконтакте. Ох! Сколько же всего интересного можно найти в этом датасете...

# 0. Разминка

Немного вспомним, чем именно мы занимались на предыдущем семинаре! 

<img src="https://steemitimages.com/0x0/https://media.makeameme.org/created/repeat-repeat-repeat-5984a6.jpg" height="350" width="350">

Начнём с разминочной задачки :) 

## Разминочная задачка

У Дори в глубинах океана есть кучка камней. Часть камней из этой кучки драгоценные. Недавно она пересчитала все драгоценные и забыла сколько их. Чтобы больше не забывать, Дори решила написать на питоне функцию, которая будет считать камни за неё.

Напишите на python функцию, которая принимает на вход список драгоценных камней $J$ и список камней, которые есть у Дори $S$. На выход функция возвращает число драгоценных камней в запасах Дори.

__Примеры:__ 

> Input: J = "aA", S = "aAAbbbb" <br />
Output: 3

Тут драгоценными считаются камни a и A. У Дори есть камни aAAbbbb. Среди них три драгоценных, aAA.

>Input: J = "z", S = "ZZ" <br />
Output: 0

Драгоценными мы считаем только камень z. У Дори два камня, оба обычные.

In [ ]:
def numJewelsInStones(J, S):
    
    ### ╰( ͡° ͜ʖ ͡° )つ▬▬ι═══════  bzzzzzzzzzz
    
    return cn

In [ ]:
J = "aA"
S = "aAAbbbb"

numJewelsInStones(J, S)

# 1. Пакеты

![](http://advaitaworld.com/uploads/images/00/13/28/2012/06/15/36a8a1.png)

Разработчики языка Python придерживаются определённой философии программирования, называемой «The Zen of Python» («Дзен Питона», или «Дзен Пайтона»). 

Её текст можно поспотреть с помощью комнды import this (работает один раз за сессию).

In [ ]:
import this

что бы понять какие функции лежат в пакете можно написать
мэтх. и нажать табуляцию то выпадет целый список функций

Команда import позволяет подгрузить не только философию, но и какой-нибудь пакет с какими-нибудь командами.

Попробуем подгрузить несколькими разными способами пакет math.

In [ ]:
import math 
math.sqrt(4)

При таком способе загрузки обращение к каждой команде модуля делается через точку. В Python работает табуляция. Если написать название модуля, поставить точку, а после нажать Tab, то Jupyter Notebook подскажет какие ещё команды есть внутри модуля.

In [ ]:
math.sin(20)

Приведенный синтаксис может оказаться неудобным, если вам часто приходится вызывать какие-то математические функции. Чтобы не писать каждый раз слово «math», можно импортировать из модуля конкретные функции.

In [ ]:
from math import sqrt

sqrt(4)

По аналогии можно импортировать из модуля абсолютно все функции, которые в нём есть с помощью команды *

In [ ]:
from math import *
pi

Также можно подгрузить какой-нибудь модуль или пакет, но при этом изменить у него название на более короткое и пользоваться им.

In [ ]:
import math as mh
mh.sqrt(4)

# 2. Все любят панд

Давайте подгрузим пакет для работы с таблицами, [pandas](http://pandas.pydata.org/) и попробуем немного поработать с данными, которые мы собрали о вас из социальных сеток. 

## 2.1 Смотрим на данные

In [5]:
import pandas as pd  # подгружаем пакет для работы с таблицами

По имени `pd` нам теперь доступна куча команд для работы с таблицами. Давайте подгрузим данные и посмотрим что лежит внутри нашей таблички. Делать это будем командой [pd.read_csv().](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html#pandas.read_csv)

Аргументов у нее очень много, критически важные:

 - **filepath_or_buffer** - текстовая строка с названием (адресом) файла
 - **sep** - разделитель между данными
 - **header** - номер строки, в которой в файле указаны названия столбцов, None, если нет
 - **names** - список с названиями колонок
 - **index_col** - или номер столбца, или список,  или ничего - названия строк

In [10]:
df = pd.read_csv('C:\Users\DASHA\Downloads\Telegram Desktop\public_intro_to_DS_mba_hse-main\public_intro_to_DS_mba_hse-main\seminars\week2_pandas', sep='\t')
df.head(7) # метод head выводит на экран первые 7 строк :)

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (Temp/ipykernel_792/4039481610.py, line 1)

In [8]:
df = pd.read_csv('sem_2_oscars_df.csv', sep = ',' )
df.head(7)

,Unnamed: 0,Film,Oscar Year,Film Studio/Producer(s),Award,Year of Release,Movie Time,Movie Genre,IMDB Rating,IMDB Votes,...,Tomatometer Status,Tomatometer Rating,Tomatometer Count,Audience Status,Audience Rating,Audience Count,Tomatometer Top Critics Count,Tomatometer Fresh Critics Count,Tomatometer Rotten Critics Count,Film ID
0,0,Wings,1927/28,Famous Players-Lasky,Winner,1927,144,"Drama,Romance,War",7.5,"12,221",...,Certified-Fresh,93.0,46.0,Upright,78.0,3530.0,9.0,43.0,3.0,2becf7d5-a3de-46ab-ae45-abdd6b588067
1,1,7th Heaven,1927/28,Fox,Nominee,1927,110,"Drama,Romance",7.7,"3,439",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19ed3295-a878-4fd2-8e60-5cd7b5f93dad
2,2,The Racket,1927/28,The Caddo Company,Nominee,1928,84,"Crime,Drama,Film-Noir",6.7,"1,257",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3111c2d8-0908-4093-8ff3-99c89f2f2f08
3,3,The Broadway Melody,1928/29,Metro-Goldwyn-Mayer,Winner,1929,100,"Drama,Musical,Romance",5.7,"6,890",...,Rotten,33.0,24.0,Spilled,21.0,1813.0,7.0,8.0,16.0,de063f3f-2d35-4e1c-8636-6eb4c16bd236
4,4,Alibi,1928/29,Feature Productions,Nominee,1929,91,"Action,Crime,Romance",5.8,765,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,609887c2-877c-43a4-b88c-e40e31096a98
5,5,Hollywood Revue,1928/29,Metro-Goldwyn-Mayer,Nominee,1929,130,"Comedy,Music",5.7,"2,004",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,689f22d5-a700-4ce1-b9be-65652f32c186
6,6,In Old Arizona,1928/29,Fox,Nominee,1928,95,Western,5.6,"1,019",...,Rotten,56.0,9.0,Spilled,38.0,356.0,2.0,5.0,4.0,a0644f19-a136-44c2-ab5d-50978ef19608

В табличке есть огромное количество самых разных переменных. Их названия довольно интуитивны. Будем разбираться с тем, за что отвечает какая колонка по мере необходимости. Отметим пока только то, что все переменные разных типов.

---

Есть несколько методов, которые мы используем сразу, как загрузили файл:
- [head()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.head.html): выводит первые 5 строк таблицы. Если задать в скобках число, то покажет ровно столько строк :)
- [info()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.info.html): показывает сводную информацию о таблице; сколько записей, сколько колонок, сколько непустых записей в таблице, 
- [tail()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.tail.html): работает как head(), только наоборот, печатает с конца

На всякий случай, это **методы**. Их можно применять к датафрейму и столбцу, т.е. используем их так: <br>
**[Имя датафрейма].[Название метода с круглыми скобками]**
- df.head()
- df.tail()
- df.info()

----


На основную информацию по столбцам можно посмотреть с помощью метода `.info()`. Напротив каждого названия столбца можно увидеть, сколько в нём заполненных ячеек. Например, у $328$ человек из $425$ (общее число строк) заполнен город проживания `city`.

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 571 entries, 0 to 570
Data columns (total 30 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Unnamed: 0                        571 non-null    int64
 1   Film                              571 non-null    object
 2   Oscar Year                        571 non-null    object
 3   Film Studio/Producer(s)           571 non-null    object
 4   Award                             571 non-null    object
 5   Year of Release                   571 non-null    int64
 6   Movie Time                        571 non-null    int64
 7   Movie Genre                       571 non-null    object
 8   IMDB Rating                       571 non-null    float64
 9   IMDB Votes                        571 non-null    object
 10  Movie Info                        438 non-null    object
 11  Genres                            439 non-null    object
 12  Critic Consensus                  339 non-null    object
 13  Content Rating                    439 non-null    object
 14  Directors                         437 non-null    object
 15  Authors                           437 non-null    object
 16  Actors                            439 non-null    object
 17  Original Release Date             439 non-null    object
 18  Streaming Release Date            438 non-null    object
 19  Production Company                439 non-null    object
 20  Tomatometer Status                439 non-null    object
 21  Tomatometer Rating                439 non-null    float64
 22  Tomatometer Count                 439 non-null    float64
 23  Audience Status                   436 non-null    object
 24  Audience Rating                   439 non-null    float64
 25  Audience Count                    439 non-null    float64
 26  Tomatometer Top Critics Count     439 non-null    float64
 27  Tomatometer Fresh Critics Count   439 non-null    float64
 28  Tomatometer Rotten Critics Count  439 non-null    float64
 29  Film ID                           571 non-null    object
dtypes: float64(8), int64(3), object(19)
memory usage: 134.0+ KB

Методов вроде `head()` и `info()` у табличек есть очень много. Давайте попробуем самые простые из них: 

### Задание 1.1:

- Выведите на экран первые 10 строк таблички 
- Выведите последние 5 строк таблички (метод `tail()`)

In [33]:

df[df['Award']=="Winner"]['IMDB Rating'] #мы оставляем строки в которых виннер, а потом забираем из остатков только одну колонку
#это переменные ти па сириус

0      7.5
3      5.7
8      8.1
13     5.9
18     7.4
      ...
520    8.1
528    7.4
537    7.3
546    8.2
554    8.6
Name: IMDB Rating, Length: 93, dtype: float64

In [34]:
df[df['Award']=="Winner"]['IMDB Rating'].mean()

7.783870967741935

In [35]:
df[df['Award']=="Winner"]['IMDB Rating'].median()

7.9

In [36]:
df[df['Award']=="Winner"]['IMDB Rating'].mode()

0    8.1
dtype: float64

In [37]:
df[df['Award']=="Winner"]['IMDB Rating'].sum()/df[df['Award']=="Winner"]['IMDB Rating'].shape[0]

7.783870967741935

In [38]:
df[df['Award']=="Winner"]['IMDB Rating'].var() #дисперсия

0.4091935483870967

In [39]:
df[df['Award']=="Winner"]['IMDB Rating'].std() #ст откл

0.6396823808634224

In [40]:
df.describe()

,Unnamed: 0,Year of Release,Movie Time,IMDB Rating,Tomatometer Rating,Tomatometer Count,Audience Rating,Audience Count,Tomatometer Top Critics Count,Tomatometer Fresh Critics Count,Tomatometer Rotten Critics Count
count,571.000000,571.000000,571.000000,571.000000,439.000000,439.000000,439.000000,4.390000e+02,439.000000,439.000000,439.000000
mean,285.000000,1973.357268,124.894921,7.570403,87.503417,110.697039,82.428246,5.154145e+05,21.861048,98.471526,12.275626
std,164.977776,29.315738,26.322817,0.559652,11.690622,119.541406,10.927897,3.623107e+06,21.615492,107.798554,19.310232
min,0.000000,1927.000000,66.000000,5.600000,29.000000,5.000000,21.000000,6.000000e+00,0.000000,3.000000,0.000000
25%,142.500000,1944.000000,107.000000,7.300000,84.000000,25.000000,78.000000,6.637500e+03,5.000000,21.500000,2.000000
50%,285.000000,1972.000000,121.000000,7.600000,91.000000,54.000000,85.000000,3.716600e+04,11.000000,49.000000,5.000000
75%,427.500000,2001.000000,136.500000,7.900000,95.000000,199.000000,90.000000,1.255365e+05,45.000000,163.500000,15.000000
max,570.000000,2021.000000,238.000000,9.300000,100.000000,574.000000,98.000000,3.579764e+07,69.000000,495.000000,182.000000

In [42]:
df.describe(include='object')

,Film,Oscar Year,Film Studio/Producer(s),Award,Movie Genre,IMDB Votes,Movie Info,Genres,Critic Consensus,Content Rating,Directors,Authors,Actors,Original Release Date,Streaming Release Date,Production Company,Tomatometer Status,Audience Status,Film ID,new_column
count,571,571,571,571,571,571,571,439,339,439,437,437,439,439,438,439,439,436,571,571
unique,564,93,378,2,128,570,439,107,339,5,262,397,439,420,214,104,3,2,571,564
top,Cleopatra,1934,Metro-Goldwyn-Mayer,Nominee,"Drama,Romance","147,893",No description,Drama,Subsequent war epics may have borrowed heavily...,R,William Wyler,Ernest Lehman,"Clara Bow, Charles 'Buddy' Rogers, Richard Arl...",2002-12-27,2012-04-16,Paramount Pictures,Certified-Fresh,Upright,2becf7d5-a3de-46ab-ae45-abdd6b588067,Cleopatra Nominee
freq,2,12,40,478,62,2,133,78,1,138,11,5,1,3,35,33,263,417,1,2

еще мы должны были разобрать
нон пай работает с матрицами, нужен больше для обработки данных чем для работы с алгоритмами

----------
### Поля
Кроме методов, у датафреймом есть еще поля. Это справочная информация о датафрейме. Список полей
<a href="https://pandas.pydata.org/pandas-docs/stable/reference/frame.html"> здесь </a>.

Чаще всего мы используем поля: 
- **columns**: названия колонок
- **index**: названия строк
- **shape**: размеры датафрейма, кол-во строк и столбцов

Использование:

**[Имя датафрейма].[Имя поля]**

- df.columns
- df.index
- df.shape

Обратите внимание: нет круглых скобок!

In [ ]:
для дата фрейма нужно две квадратных скобки
если будут только одни то это будут данные типпа serious

In [14]:
df[['Film']]

                           Film
0                         Wings
1                    7th Heaven
2                    The Racket
3           The Broadway Melody
4                         Alibi
..                          ...
566                        Mank
567                      Minari
568       Promising Young Woman
569              Sound of Metal
570  The Trial of the Chicago 7

[571 rows x 1 columns]

In [15]:
df[['Film', 'Genres']]

                           Film                              Genres
0                         Wings        Action & Adventure, Classics
1                    7th Heaven                                 NaN
2                    The Racket                                 NaN
3           The Broadway Melody  Musical & Performing Arts, Romance
4                         Alibi                                 NaN
..                          ...                                 ...
566                        Mank                                 NaN
567                      Minari                                 NaN
568       Promising Young Woman                                 NaN
569              Sound of Metal                                 NaN
570  The Trial of the Chicago 7                                 NaN

[571 rows x 2 columns]

### Задание 1.2: 
- Выясните сколько в таблице строк и столбцов (метод `shape`)
- Выведите на экран названия всех колонок таблицы (метод `columns`)

In [18]:
df['new_column']= df['Film'] + ' ' + df['Award'] #добавление своего столбика
df[['new_column']]

                             new_column
0                          Wings Winner
1                    7th Heaven Nominee
2                    The Racket Nominee
3            The Broadway Melody Winner
4                         Alibi Nominee
..                                  ...
566                        Mank Nominee
567                      Minari Nominee
568       Promising Young Woman Nominee
569              Sound of Metal Nominee
570  The Trial of the Chicago 7 Nominee

[571 rows x 1 columns]

In [19]:
df['Award'].unique() #чтобы увидеть грубо говоря все множество значений которое есть в ячейках

array(['Winner', 'Nominee'], dtype=object)

In [20]:
df['Award'].value_counts() #грубо говоря как часто то или иное значение встречается в колонке

Nominee    478
Winner      93
Name: Award, dtype: int64

In [21]:
df[df['Award']=='Winner'].head(5) #выводим только строки в которых виннер, head это первые пять виннеров

,Unnamed: 0,Film,Oscar Year,Film Studio/Producer(s),Award,Year of Release,Movie Time,Movie Genre,IMDB Rating,IMDB Votes,...,Tomatometer Rating,Tomatometer Count,Audience Status,Audience Rating,Audience Count,Tomatometer Top Critics Count,Tomatometer Fresh Critics Count,Tomatometer Rotten Critics Count,Film ID,new_column
0,0,Wings,1927/28,Famous Players-Lasky,Winner,1927,144,"Drama,Romance,War",7.5,"12,221",...,93.0,46.0,Upright,78.0,3530.0,9.0,43.0,3.0,2becf7d5-a3de-46ab-ae45-abdd6b588067,Wings Winner
3,3,The Broadway Melody,1928/29,Metro-Goldwyn-Mayer,Winner,1929,100,"Drama,Musical,Romance",5.7,"6,890",...,33.0,24.0,Spilled,21.0,1813.0,7.0,8.0,16.0,de063f3f-2d35-4e1c-8636-6eb4c16bd236,The Broadway Melody Winner
8,8,All Quiet on the Western Front,1929/30,Universal,Winner,1930,152,"Drama,War",8.1,"59,214",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,281742f9-3b4e-480d-b704-c8c15de6b721,All Quiet on the Western Front Winner
13,13,Cimarron,1930/31,RKO Radio,Winner,1931,123,"Drama,Western",5.9,"5,851",...,50.0,24.0,Spilled,25.0,1514.0,6.0,12.0,12.0,db2683c0-128e-4b5c-858f-d9f18c2fb9b9,Cimarron Winner
18,18,Grand Hotel,1931/32,Metro-Goldwyn-Mayer,Winner,1932,112,"Drama,Romance",7.4,"18,314",...,86.0,42.0,Upright,77.0,7014.0,10.0,36.0,6.0,be69f946-6adc-47e4-8491-79d6c033f59d,Grand Hotel Winner

In [23]:
df[(df['Award']=='Winner')&(df['Year of Release']>=2000)].head(5)  #сделали условие по двум колонкам
#важно, без скобок каждого условия не будет работать
# заки все те же что и во множествах

,Unnamed: 0,Film,Oscar Year,Film Studio/Producer(s),Award,Year of Release,Movie Time,Movie Genre,IMDB Rating,IMDB Votes,...,Tomatometer Rating,Tomatometer Count,Audience Status,Audience Rating,Audience Count,Tomatometer Top Critics Count,Tomatometer Fresh Critics Count,Tomatometer Rotten Critics Count,Film ID,new_column
420,420,Gladiator,2000,"Douglas Wick, David Franzoni, and Branko Lustig",Winner,2000,155,"Action,Adventure,Drama",8.5,"1,393,352",...,77.0,199.0,Upright,87.0,34128168.0,49.0,153.0,46.0,3e67a3b9-f24a-420b-b9f8-78870126e1df,Gladiator Winner
425,425,A Beautiful Mind,2001,Brian Grazer and Ron Howard,Winner,2001,135,"Biography,Drama",8.2,"878,511",...,74.0,213.0,Upright,93.0,490923.0,47.0,158.0,55.0,69218a0a-fbd1-4a2b-a19b-fc194d43d435,A Beautiful Mind Winner
430,430,Chicago,2002,Martin Richards,Winner,2002,113,"Comedy,Crime,Musical",7.2,"221,622",...,86.0,257.0,Upright,83.0,439544.0,55.0,220.0,37.0,5ca65d3f-4b1e-4c9f-a629-06f111c3c7c2,Chicago Winner
435,435,The Lord of the Rings: The Return of the King,2003,"Barrie M. Osborne, Peter Jackson, and Fran Walsh",Winner,2003,201,"Action,Adventure,Drama",8.9,"1,703,481",...,93.0,275.0,Upright,86.0,34679773.0,53.0,257.0,18.0,7591962a-1d5a-48dd-a362-8546b21ced73,The Lord of the Rings: The Return of the King ...
440,440,Million Dollar Baby,2004,"Clint Eastwood, Albert S. Ruddy, and Tom Rosen...",Winner,2004,132,"Drama,Sport",8.1,"655,679",...,91.0,268.0,Upright,90.0,405053.0,58.0,243.0,25.0,a360a577-fb0b-4bd2-ae39-35fb5dbb3deb,Million Dollar Baby Winner

In [24]:
df.isnull() #возвращает стремный массив данных где написано "правда ли что значение ячейки пустое"

,Unnamed: 0,Film,Oscar Year,Film Studio/Producer(s),Award,Year of Release,Movie Time,Movie Genre,IMDB Rating,IMDB Votes,...,Tomatometer Rating,Tomatometer Count,Audience Status,Audience Rating,Audience Count,Tomatometer Top Critics Count,Tomatometer Fresh Critics Count,Tomatometer Rotten Critics Count,Film ID,new_column
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,False,False
2,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,False,False
567,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,False,False
568,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,False,False
569,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,False,False
570,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,False,False

In [25]:
df.isnull().sum() #ну буквально сумма таких ячеек по колонкам

Unnamed: 0                            0
Film                                  0
Oscar Year                            0
Film Studio/Producer(s)               0
Award                                 0
Year of Release                       0
Movie Time                            0
Movie Genre                           0
IMDB Rating                           0
IMDB Votes                            0
Movie Info                          133
Genres                              132
Critic Consensus                    232
Content Rating                      132
Directors                           134
Authors                             134
Actors                              132
Original Release Date               132
Streaming Release Date              133
Production Company                  132
Tomatometer Status                  132
Tomatometer Rating                  132
Tomatometer Count                   132
Audience Status                     135
Audience Rating                     132
Audience Count                      132
Tomatometer Top Critics Count       132
Tomatometer Fresh Critics Count     132
Tomatometer Rotten Critics Count    132
Film ID                               0
new_column                            0
dtype: int64

In [27]:
df1 = df.dropna() #дропнули все строки где ничего нет (даже пробела)

In [28]:
df1.shape

(333, 31)

In [ ]:
#подмена пустого значения чем угодно

In [29]:
df['Movie Info'] = df['Movie Info'].fillna('No description')

In [30]:
df['Movie Info'].isnull().sum()

0

In [13]:
### ╰( ͡° ͜ʖ ͡° )つ▬▬ι═══════  bzzzzzzzzzz
df.shape #выводит количество строк и столбцов

(571, 30)

In [ ]:
### ╰( ͡° ͜ʖ ͡° )つ▬▬ι═══════  bzzzzzzzzzz
df.shape[0] #можем только колво строк взять, можно еще записать в переменную

## 2.2 Базовые навыки по работе с табличками

### Выбор колонки

Чтобы вытащить столбец, у нему нужно через квадратные скобки обратиться по имени.

In [ ]:
# цепляем head(), чтобы не получить слишком много напечатанных имен
df['first_name'].head()

Можно вытащить сразу несколько колонок и применить к ним какой-нибудь метод:

In [ ]:
# обратите внимание, что в квадратные скобки мы записали только 1 объект - лист с названиями колонок. 
df[['first_name', 'last_name', 'city']].head()

Можно создавать новые колонки. Например, мы можем взять все имена и фамилии, записать их через пробел и положить в новую колонку.

In [ ]:
df['first_last_name'] = df['first_name'] + ' ' + df['last_name']
df.head()

### Выбор подряд идущих строк

Если в квадратных скобках указать диапазон, то можно выбрать несколько строк, идущих друг за другом

In [ ]:
df[:2]

In [ ]:
df[1:10]

---
### Уникальные значения и частотые таблицы

Очень частой операцией является нахождение уникальных значений в колонке. В зависимости от задачи есть два метода. 
- [unique()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.unique.html): возвращает массив уникальных значений в колонке - к нему можем применять только обычный питон
- [drop_duplicates()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop_duplicates.html): удаляет дублирующиеся строчки в датафрейме/колонке и возвращает соответственно датафрейм или колонку - к ним можем дальше применять пандасовские методы

- [value_counts()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.value_counts.html): считает частотную таблицу, т.е. сколько раз мы встретили значение в колонке

### Задание 2:

- Вытащите из таблички колону с городом (city), примените к ней метод, который оставит в колонке только уникальные названия городов, `.unique()`
- Сколько всего городов есть в данных?

In [ ]:
### ╰( ͡° ͜ʖ ͡° )つ▬▬ι═══════  bzzzzzzzzzz

In [ ]:
### ╰( ͡° ͜ʖ ͡° )つ▬▬ι═══════  bzzzzzzzzzz

- Попробуйте вытащить ту же самую колонку и посчитать по ней, как часто, какой город встречается в данных, `.value_counts()`
- Выведите на экран $5$ самых популярных городов для жизни студентов первого курса

In [ ]:
### ╰( ͡° ͜ʖ ͡° )つ▬▬ι═══════  bzzzzzzzzzz

----------

Вот мы и добрались до самого главного. В pandas можно пытаться искать ответы на разные интересующие вас вопросы. Например, когда я смотрю на нашу табличку, у меня возникает вопрос:  

> Сколько девушек с именем отличающимся от "Аня" указали в профиле ссылку на свой инстаграм?

Нас интересуют только девушки. Информация о поле лежит в колонке `male_dummy`. Если перед нами девушка, в этой колонке будет написан $0$. Сравним все значения в этой колонке с нулём. Если внутри правда $0$, на экране будет True.

In [ ]:
df['male_dummy'] == 0

Сделаем срез. Оставим в табличке только те строчки, где стоит True:

In [ ]:
df[df['male_dummy'] == 0].head()

Обратите внимание на номера строк. Видно, что $2$, $4$ и $5$ строчки были про мальчиков. Давайте теперь из этой, более маленькой таблички оставим только тех девушек, у которых есть инстаграм. Для этого нужен второй срез по колонке `instagram_dummy`. Если в ней стоит $1$, значит инстаграм есть.  Знак `&` между срезами говорит, что должны выполниться оба условия. Он читается как союз `и`.

Если мы хотим, чтобы выполнялось хотя бы одно из условий, можно использовать союз `или`, который обозначается значком `|`.

In [ ]:
df[(df['male_dummy'] == 0) & (df['instagram_dummy'] == 1)].head()

Выбросили ещё больше строк. Осталось добавить срез на имена. Нам нужно, чтобы девушка была с именем отличающимся от "Аня". Значки `!=` отвечают за $\neq$.

In [ ]:
df[(df['first_name'] != "Аня") & (df['first_name'] != "Анна")].head()

Так мы вытащим табличку без Ань. Объединяем всё вместе.

In [ ]:
# Можно аккуратно переносить строки кода в питоне для улучшения читаемости.
df[
    (df['instagram_dummy'] == 1)
    & (df['male_dummy'] == 0)
    & (df['first_name'] != "Аня") & (df['first_name'] != "Анна")
].head()

Сами условия важно не забывать оборачивать в круглые скобки `()`, чтобы питон не запутался, что с чем сравнивается. Также они определяют порядок действий, как в математике.

То есть мы командой 

`(df['instagram_dummy'] == 1) & (df['male_dummy'] == 0) & (df['first_name'] != "Аня") & (df['first_name'] != "Анна")` 

говорим табличке: 

`(у них есть инстаграм) И (они девушки) И (их зовут НЕ аня) И (их зовут НЕ анна))` 

И на выход получаем маленькую подтаблицу, где __все__ эти условия выполнены.

__Важно__: если вы хотите вывести все строки в таблице, где столбец попадает в какой-то _диапазон_ значений, придётся написать $2$ условия на этот столбец (двойное неравенство не прокатит, увы). Например, выведем всех людей, у которых количество друзей, посещающих этот курс, от $100$ до $153$:

In [ ]:
df[(df['friends_from_course_cnt'] > 100) & (df['friends_from_course_cnt'] < 153)].head()

## 2.3 Работа с пропусками 


Пропуски в данных возникают по разным причинам. Кто-то забыл измерить, записать или в принципе таких данных в природе не существовало. Когда мы будем учить алгоритмы машинного обучения, нам придётся все эти пропуски заполнять. 

Количество пропусков в данных можно узнать с помощью метода [.isnull()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.isnull.html)

In [ ]:
df.isnull().head() # возвращает True, если в ячейке пропуск, иначе --- False

In [ ]:
df.isnull().sum()  # суммарное количество пропусков в каждом столбце

In [ ]:
# отсортировали число пропусков по убыванию и вывели топ-10 
df.isnull().sum().sort_values(ascending=False).head(10)

Метод `.fillna(что-то)` позволяет заполнить пропуски чем-нибудь нейтральным. Например, посмотрим на колонку `city`. В ней сейчас есть пропуски.

In [ ]:
df['city'].head()

Давайте заполним их значением "не указано".

In [ ]:
df['city'] = df['city'].fillna('Не указано')
df['city'].head()

## 2.4 Поиск ответов на глупые вопросы 

Комбинируя все те знания, которые мы с вами добыли выше, можно искать ответы на разные вопросы.

### Задание 3

- Сколько студентов закрыли свой профиль (колонка `is_closed`)?

In [ ]:
### ╰( ͡° ͜ʖ ͡° )つ▬▬ι═══════  bzzzzzzzzzz

- Сколько всего в таблице студентов?

In [ ]:
### ╰( ͡° ͜ʖ ͡° )つ▬▬ι═══════  bzzzzzzzzzz

- Какая доля студентов закрыла профиль?

In [ ]:
### ╰( ͡° ͜ʖ ͡° )つ▬▬ι═══════  bzzzzzzzzzz

- Сколько уникальных мужских имён встречается на первом курсе?

In [ ]:
### ╰( ͡° ͜ʖ ͡° )つ▬▬ι═══════  bzzzzzzzzzz

- Выведите три самых популярных женских имени среди студентов

In [ ]:
### ╰( ͡° ͜ʖ ͡° )つ▬▬ι═══════  bzzzzzzzzzz

- Сколько в среднем лайков ставят под мемы девушки (колонка `likes_memes`)

In [ ]:
### ╰( ͡° ͜ʖ ͡° )つ▬▬ι═══════  bzzzzzzzzzz

- Сколько суммарно лайков оставили студенты в группе с мемами?

In [ ]:
### ╰( ͡° ͜ʖ ͡° )つ▬▬ι═══════  bzzzzzzzzzz

- Сколько в среднем лайков приходится на одного человека, подписанного на группу (колонка `in_hse_memes_group`)

In [ ]:
### ╰( ͡° ͜ʖ ͡° )つ▬▬ι═══════  bzzzzzzzzzz

- Сколько лайков поставили люди, которые не подписаны на группу?

In [ ]:
### ╰( ͡° ͜ʖ ͡° )つ▬▬ι═══════  bzzzzzzzzzz

- Выведите на экран колонки, в которых нет ни одного пропуска.

In [ ]:
### ╰( ͡° ͜ʖ ͡° )つ▬▬ι═══════  bzzzzzzzzzz

- Выведите на экран 3 случайных записей для пользователей, которые приехали в Москву (`home_town` - откуда приехали, `city` - где живут сейчас)

In [ ]:
### ╰( ͡° ͜ʖ ͡° )つ▬▬ι═══════  bzzzzzzzzzz

- Среди двух полов найдите лидера по числу выложенных фоток (в колонке `photo_month_mean` среднемесячное кол-во фоток)

In [ ]:
### ╰( ͡° ͜ʖ ͡° )つ▬▬ι═══════  bzzzzzzzzzz

- Сейчас число лайков измеряется по шкале от $0$ до $1081$. В машинном обучении довольно часто возникает желание поменять у данных шкалу, в которой они измерены. Такая процедура называется скалированием. Давайте переведём лайки с отрезка $[0, 1081]$ на отрезок $[0, 1]$. Делать это будем по формуле: 

        x_new = (x-min)/(max-min)
    
        min = минимальный элемент в столбце
        max = максимальный элемент в столбце
        
Получившийся результат запишем в колонку `like_memes_scal`.

In [ ]:
### ╰( ͡° ͜ʖ ͡° )つ▬▬ι═══════  bzzzzzzzzzz

На последок вот вам __пара панд.__ Ведь именно в честь них (на самом деле в честь panel data) назван пакет pandas.

![](http://www.hughlansdown.com/photos/wildlife/mammals/pair-of-red-pandas.jpg)